.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 100vh;
}

.search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    color: #fff;
}


.search:focus {
    outline: none;
    box-shadow: 0 0 0 2px #555;
    background-color: #4a4a4a;
}

.search::placeholder {
    color: #aaa;
}

.search-results {
    background-color: #444;
    border-radius: 5px;
    margin-top: -15px;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results li {
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-results li:hover {
    background-color: #555;
}

.search-results p {
    color: #aaa;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;

}

nav ul li:hover {
    background-color: #555;

    color: #fff;

}

nav ul li i {
    margin-right: 10px;
}